
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #b4371e;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
}


.about-us {
    padding: 40px 0;
    background-color: #fff;
}

.about-us .container {
    width: 80%;
    margin: 0 auto;
}

.about-us h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #b4371e
}
.about-us p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

.about-us strong {
    color: #b4371e;
}


footer {
    background-color: #b4371e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
}
.btn-voltar {
    display: inline-block;
    background-color: #b4371e;
    color: #fff;
    padding: 12px 25px;
    margin-top: 30px;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
}

.btn-voltar:hover {
    background-color: #b4371e;
    transform: translateY(-3px);
}

.btn-voltar:active {
    transform: translateY(1px);
}